{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

    <article class="{{post_class}}" role="article">
        {{#if image }}
            <a href="{{{url}}}" class="post-thumbnail"><img src="{{image}}" alt="{{title}}"></a>
        {{/if}}
        <div class="entry-box">
            <header class="entry-header">
                <h2 class="entry-title"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h2>
                <div class="entry-meta">
                    {{#if featured}}<span class="featured-post icon-star" aria-hidden="true"></span>{{/if}}
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> by {{author}}
                </div><!-- .entry-meta -->
            </header><!-- .entry-header -->
            <div class="entry-content">
                <p>{{excerpt words="100"}}&hellip;</p>
                <div class="read-more">
                    <a class="more-link" href="{{url}}" title="{{title}}">Read More</a>
                </div>
            </div><!-- .entry-content -->
        </div><!-- .entry-box -->
    </article><!-- .post -->

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
